@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    color: rgba(0,0,0,0.75);
    background-color: #eeeeee;
    margin:auto;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 20px 3%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

footer,  h1, header {
    font-family: 'Roboto', sans-serif;
}

footer, header {
    color: #88edfc;
    font-weight: 400;
    background-image: linear-gradient(25deg, #0176ca, #013dbe, #873dd6);
}

footer {
    font-size: 16px;
    text-align: center;
    margin-top: 7.5%;
}

footer > div > a > i {
    color: #88edfc;
    font-size: 36px;
    margin-right: 10px;
    margin-left: 10px;
    transition: font-size 0.4s;
}

footer > div > a > i:hover {
    font-size: 45px;
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 0.05em;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 30px;
}

input {
    width: 100%;
    height: 2rem;
    padding: 6px 0;
    text-indent: 2%;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}

input[type="radio"], input[type="checkbox"] {
    width: 4%;
    vertical-align: middle;
}

input[type="submit"] {
    width:auto;
}

label {
    color: #9e9e9e;
    margin-top: 13px;
    margin-right: 10px;
    font-size: .9rem;
}

nav {
    padding: 20px;
    padding-bottom: 0px;
    line-height: 2em;
}

menu {
    margin-left: 0.75rem;
    margin-right: 2.75rem;
    margin-bottom: 1rem;
}

.button {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.3);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: background-color .3s;
}

.button.nav {
    background-color: #00c3f5;
    box-shadow: inset 0 1px 0 #6ddcf8;
}

.nav.button:hover {
    background-color: #0091B5;
    box-shadow: inset 0 1px 0 #01708b;
}

.button.body {
    background-color: #693eeb;
    height: auto;
    border: unset;
    text-indent: unset;
    box-shadow: inset 0 2px 0 #875EFF, 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.3);
    font-size: 16px;
    padding: 8px 14px;
}

.body.button:hover {
    background-color: #4a2ba8;
    box-shadow: inset 0 2px 0 #392180;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: block;
    background-color: white;
    border-radius: 6px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
}

div.gallery > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

div.gallery > ul > li {
    height: 30vh;
    flex-grow: 1;
    list-style-type:none;
}

div.gallery > ul > li > a > img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

div.gallery > ul > li:last-child {
    flex-grow: 10;
}

.input-box {
    display: inline-flex;
    width: 95%;
    margin-bottom: 20px;
}

.label-text {
    color: #9e9e9e;
    margin-top: 1px;
    margin-right: 10px;
    font-size: .9rem;
}

.text-content {
    line-height: 1.5;
    margin-top: 1.3em;
    text-align: justify;
    font-size: 18px;
    max-width: 33em;
}

.text-image {
    display: flex;
    width: 100%;
    max-width: 600px;
}

#favicon {
    align-items: center;
    padding-top: 20px;
}

#signup_box {
    background: #fff;
    clear: left;
    margin: auto;
    width: auto;
    max-width: 800px;
    box-sizing: border-box;
}

@media (max-aspect-ratio: 1/1) {
    .gallery {
        width: 100%;
    }
    
    div.gallery > ul > li {
      height: 20vh;
    }
}

@media screen and (max-height: 480px) {
    div.gallery > ul > li {
      height: 35vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    div.gallery > ul {
      flex-direction: row;
    }
  
    div.gallery > ul > li {
      height: auto;
      width: 100%;
    }
  
    div.gallery > ul > li > a > img {
      width: 100%;
      max-height: 50vh;
      min-width: 0;
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 26px;
    }

    h2, h3 {
        font-size: 20px;
    }

    .button {
        font-size: 12px;
        padding: 6px 8px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .text-content {
        font-size: 14px;
        line-height: 2;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {

    h1 {
        font-size: 32px;
    }

    h2, h3 {
        font-size: 24px;
    }

    .button {
        font-size: 14px;
        padding: 6px 8px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .text-content {
        font-size: 14px;
        line-height: 2;
    }
}